.row
  .span16.columns
    = form_for @user do |f|
      -if @user.errors.any?
        .alert-message.block-message.error
          %p
            %strong= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
          %p
            %ol
              - @user.errors.full_messages.each do |msg|
                %li= msg
      %fieldset
        %legend= @title
        - unless @user.new_record?
          .span3.offset12.gravatar_thumb
            %h6 User gravatar:
            = gravatar_for @user, :size => 115
        .clearfix
          = f.label :name
          .input= f.text_field :name
        .clearfix
          = f.label :email
          .input= f.text_field :email
        .clearfix
          = f.label :password
          .input= f.password_field :password
        .clearfix
          = f.label :"Pass confirmation"
          .input= f.password_field :password_confirmation
        .actions
          = f.submit :class => "btn primary"