.row
  .span16.columns
    = form_for @user do |f|
      -if @user.errors.any?
        .alert-message.block-message.error
          %p
            %strong= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
          %p
            %ol
              - @user.errors.full_messages.each do |msg|
                %li= msg
      %fieldset
        %legend= @title
        .clearfix
          = f.label :name
          .input= f.text_field :name
        .clearfix
          = f.label :email
          .input= f.text_field :email
        .clearfix
          = f.label :password
          .input= f.text_field :password
        .clearfix
          = f.label :"Pass confirmation"
          .input= f.text_field :password_confirmation
        .actions
          = f.submit "Sign Up", :class => "btn primary"
          Already have an account?
          = link_to "Sign in!", signin_path