.row
  .span12
    %h1
      = gravatar_for @user
      = @user.name
    - if signed_in?
      .row
        .span12
          - if current_user.following?(@user)
            %p= render :partial => 'unfollow'
          - else
            %p= render :partial => 'follow' unless current_user == @user
    - unless @user.microposts.empty?
      = render @microposts
      = paginate @microposts
  .span4
    .well
      %p
        %strong Name:
        = @user.name
      %p
        %strong URL:
        = link_to user_path(@user), @user
      %p
        %strong Microposts:
        = @user.microposts.count
      = render 'shared/stats'