- if signed_in?
  .row
    .span12.columns
      %h1 What's up?
      = render 'shared/micropost_form'
      = render 'shared/feed'
    .span4.columns
      .well
        = render 'shared/user_info'
        = render 'shared/stats'

- else
  .row
    .span16.columns
      %h1 Sample App
      %p This is the home page for the Compweek sample application.
      %br/
      = link_to "Sign up now!", signup_path, :class => "btn large primary"