!!!
%html
  %head
    %title= title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .topbar-inner
        .container
          %h3= link_to "Compweek", root_path
          %ul.nav
            %li= link_to "Help", help_path
            %li= link_to "About", about_path
            %li= link_to "Contact", contact_path
          %ul.nav.secondary-nav
            - if signed_in?
              %li= link_to "Sign out", signout_path, :method => :delete
            - else
              %li= link_to "Sign in", signin_path
    #page
      .container
        - if flash
          - flash.each do |name, msg| 
            .alert-message{:class => name}
              = link_to "×", "#", :class => "close"
              %p
                %strong Hey!
                = msg
        = yield
    .container
      .row
        .span16.columns
          = debug(params) if Rails.env.development?